<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="pavicon/pavicon_png.png">
    <title>학생 인증</title>
</head>
<body>
    <div>
        <h3>User 현황</h3>
        <table border="1">
            <th>이름</th>
            <th>학번</th>
            <th>학생증 루트 </th>
            <th>학생증 인증하러 가기</th>
            <th>학생증 인증 확인</th>
        </table>
    </div>
</body>
</html>